In [1]:
import random
import pandas as pd
from google.colab import auth
import gspread
from google.auth import default

In [2]:
# Autenticação
auth.authenticate_user()
creds, _ = default()
gc = gspread.authorize(creds)

In [3]:
# Definindo a tabela
worksheet = gc.open('Check-in Rede Plenus (respostas)').sheet1

# get_all_values ​​fornece uma lista de linhas
rows = worksheet.get_all_values()

# Convertendo pra um DataFrame
df = pd.DataFrame(rows)

In [4]:
columns = df.iloc[0]
df = pd.DataFrame(df.values[1:])

In [5]:
df

                     0                               1               2
0  13/02/2023 19:42:29                            Ralf     11968586747
1  13/02/2023 19:46:39  Marcelo de Freitas Cavalcante      83996008751
2  13/02/2023 19:47:53             Graziella Ferreira      83981031636
3  13/02/2023 19:49:42                          Dayane     11944964050
4  13/02/2023 19:54:49  Antonio Carlos da Silva Santos     83988099560
5  13/02/2023 20:30:45       Anna Livia Freire Machado  (83)98134-2198
6  13/02/2023 20:31:30                   Letícia Costa     83987951792
7  13/02/2023 20:38:34                       Alexandre  11949473783883

In [6]:
def make_random_groups(df, number_of_groups):
    
    # Misturando os dados
    random.shuffle(df[1])
    
    # Criando os grupos
    all_groups = []
    for index in range(number_of_groups):
        group = df[1][index::number_of_groups]
        all_groups.append(group)
    
    # Formatando e exibindo os grupos
    for index, group in enumerate(all_groups):
        print(f"✝ Grupo {index+1}: {' / '.join(group)}\n")

In [7]:
make_random_groups(df, 3)

✝ Grupo 1: Anna Livia Freire Machado / Letícia Costa / Marcelo de Freitas Cavalcante

✝ Grupo 2: Dayane / Antonio Carlos da Silva Santos / Ralf

✝ Grupo 3: Alexandre / Graziella Ferreira